body {
  height: auto;
}

.container__portfolio {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 calc(30px + (80 - 30) * ((100vw - 1090px) / (1440 - 1090)));
}

header {
  display: block;
}

.header__portfolio-wrapper {
  position: static;
}

.header__portfolio {
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease 0s;
  max-width: 1440px;
  margin: 0 auto;
  padding: 19px calc(30px + (80 - 30) * ((100vw - 1090px) / (1440 - 1090)));
}

.header__portfolio .logo a {
  color: #000;
}

.header__portfolio .burger {
  z-index: 1051;
  position: relative;
  width: 25px;
  height: 19px;
  z-index: 2000;
}

.header__portfolio .burger:before,
.header__portfolio .burger:after {
  content: '';
  z-index: 2000;
  position: absolute;
  width: 25px;
  height: 3px;
  left: 0;
  background: #151515;
  border: 1px solid #151515;
  border-radius: 10000px;
  transition: all 0.3s ease 0s;
}

.header__portfolio .burger:before {
  top: 0;
}

.header__portfolio .burger:after {
  bottom: 0;
}

.header__portfolio .header_burger.active .burger:before {
  transform: rotate(45deg);
  z-index: 2000;
  top: 8px;
  width: 30px;
  background: #151515;
  height: 3px;
  border: 1px solid #151515;
  box-sizing: border-box;
  border-radius: 1000px;
}

.header__portfolio .header_burger.active .burger:after {
  transform: rotate(-45deg);
  z-index: 2000;
  bottom: 8px;
  background: #151515;
  width: 30px;
  height: 3px;
  border: 1px solid #151515;
  border-radius: 1000px;
}

.header__portfolio .header_burger.active .burger span {
  transform: scale(0);
}

.header__portfolio .burger span {
  content: '';
  background-color: #151515;
  position: absolute;
  top: 8px;
  width: 23px;
  height: 3px;
  right: 0;
  border: 1px;
  border: 1px solid #151515;
  border-radius: 1000px;
  transition: all 0.3s ease 0s;
}

.header__portfolio .header_burger.portfolio__burger {
  display: none;
  top: 31px;
  background: #fff;
  margin-right: -10px;
}

.header__portfolio nav {
  position: relative;
  display: flex;
  align-items: center;
}

.header__portfolio nav svg {
  width: 24px;
  height: 24px;
}

.header__portfolio nav svg:hover {
  transform: scale(1.15);
}

.header__portfolio nav a {
  color: #000;
  padding: 0 25px;
  font-size: 20px;
}

.header__portfolio nav .header_sociallinks a {
  height: 24px;
}

.header__portfolio nav .header_sociallinks a:first-child {
  padding-left: 5px;
  padding-right: 12px;
}

.header__portfolio nav .header_sociallinks a:last-child {
  padding-left: 12px;
}

.header__portfolio nav a:first-child {
  padding-left: 0px;
}

.header__portfolio nav a:last-child {
  padding-right: 0px;
}

.header__portfolio nav .header_anchor {
  color: #000;
  font-weight: 400;
  -webkit-font-smoothing: antialised;
}

.header__portfolio nav .header_anchor:after {
  background-color: #000;
  display: block;
  width: 0;
  height: 0.5px;
  content: "";
  transition: width .3s ease-in-out;
}

.header__portfolio nav .header_anchor:hover:after {
  width: 100%;
}

.case {
  position: relative;
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 20;
}

.case__item,
.case__item-all {
  cursor: pointer;
  white-space: nowrap;
  background: #F5F4F8;
  border-radius: 1000px;
  margin: 0 20px 10px 0;
  font-size: 16px;
  padding: 12px 22px;
}

.case__item-active {
  color: #fff;
  background: #11042D;
}

.select-case {
  margin-top: 20px;
  position: relative;
}

.select-case .selected-case {
  display: none;
  position: relative;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  background: #11042D;
  white-space: nowrap;
  width: 100%;
  border-radius: 1000px;
  margin-bottom: 26px;
  font-size: 16px;
  padding: 12px 22px;
}

.select-case .selected-case .selected-button {
  position: absolute;
  background: transparent;
  right: 24px;
  bottom: 20px;
  width: 9px;
  height: 9px;
  transform: rotate(-45deg);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.select-case.active .case {
  display: block;
}

.select-case.active .selected-button {
  transform: rotate(-45deg) translateY(50%) translateX(-50%);
  border-left: none;
  border-bottom: none;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
}

.portfolio__header {
  padding-top: 50px;
  font-weight: 300;
  font-size: 46px;
  line-height: 55px;
  color: #151515;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px 24px;
}

.portfolio__item {
  max-width: 412px;
  max-height: 412px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 412/289;
}

.portfolio__item-photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.2s ease;
}

.return {
  display: none;
}

.return:hover {
  border-bottom: 1px solid #757575;
}

.return:hover a {
  color: #757575;
}

.cases-nav__link a {
  position: relative;
  color: #000;
}

.cases-nav__link a:hover {
  color: #9EA3BA;
}

.link__inactive {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  color: #9EA3BA;
}

.cases-nav {
  padding-top: 39px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cases-nav.mobile-nav {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9EA3BA;
}

.cases-nav.mobile-nav a {
  color: #9EA3BA;
}

.pacient__link {
  font-size: 20px;
  display: flex;
}

.pacient__link a {
  padding: 0 10px;
}

.link__inactive {
  color: #dadada;
}

.link__inactive div {
  color: #dadada;
}

.pacient__link.left p {
  padding-left: 10px;
}

.pacient__link.next {
  text-align: end;
  margin-left: 30px;
}

.pacient__link.next p {
  padding-right: 10px;
}

swiper-container {
  width: 100%;
}

.portfolio__loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 195px);
  width: 100%;
}

.case-item.loading {
  display: none;
}

.case__wrapper {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
}

.case-item {
  display: block;
}

.case-item .swiper-button-next,
.case-item .swiper-button-prev {
  color: #fff;
  background: rgba(255, 255, 255, 0.15);
  padding: 28px;
  border-radius: 50%;
}

.case-item__mobile-item {
  aspect-ratio: 2/1;
  margin-bottom: 5px;
}

.case-item__mobile-item img {
  -o-object-fit: cover;
  object-fit: cover;
}

.case-item .swiper-button-next:hover,
.case-item .swiper-button-prev:hover {
  background: rgba(255, 255, 255, 0.3);
}

.case-item .swiper-button-next::after {
  transform: scale(0.5) translateX(30%);
}

.case-item .swiper-button-prev::after {
  transform: scale(0.5) translateX(-30%);
}

.case-item__operation-name {
  font-size: 26px;
  line-height: normal;
}

.case-item__photo_wrapper {
  padding-top: 30px;
  width: 100%;
  display: flex;
  position: relative;
}

.case-item__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.case-item__photo-item {
  position: relative;
  width: 50%;
}

.case-item__photo-label {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
  border-radius: 15px;
  padding: 7px;
  color: #fff;
  font-weight: 400;
  line-height: 36px;
}

.case-item__description_wrapper {
  margin-top: 50px;
}

.case-item__description_wrapper h5 {
  font-weight: 300;
  font-size: 16px;
}

.case-item__description_wrapper p {
  margin-top: 13px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.case-item .swiper-pagination {
  bottom: -20px;
}

footer.portfolio__footer {
  position: relative;
  display: block;
  bottom: 0;
  left: 0;
  transform: none;
  margin-top: 86px;
  padding-bottom: 20px;
}

footer.portfolio__footer .footer__contacts-wrapper {
  border-top: 1px solid #F0EFF6;
  padding-top: 42px;
  display: flex;
}

footer.portfolio__footer .footer__contact {
  width: 25%;
}

footer.portfolio__footer .footer__contact p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #151515;
  text-align: left;
}

footer.portfolio__footer .footer__contact a {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #151515;
  padding: 13px 0;
}

footer.portfolio__footer .footer__contact a:hover {
  color: #9EA3BA;
}

footer.portfolio__footer .footer__copyright {
  margin-top: 45px;
  font-weight: 300;
  color: #BEBDCC;
}

footer.portfolio__footer .footer__copyrigth-top {
  font-size: 17px;
}

footer.portfolio__footer .footer__copyrigth-bottom {
  margin-top: 5px;
  font-size: 12px;
}

@media (min-width: 460px) {
  .case__item:hover,
  .case__item-all:hover {
    color: #fff;
    background: #11042D;
  }
}

@media (min-width: 767px) {
  .case-item__photo {
    aspect-ratio: 2.003/1;
  }

  .case-item__description_wrapper {
    max-width: 70%;
  }
}

@media (min-width: 1441px) {
  .container__portfolio {
    padding: 0 80px;
  }

  .header__portfolio {
    padding: 19px 80px;
  }
}

@media (max-width: 1280px) {
  .header__portfolio nav a {
    padding: 0 10px;
  }
}

@media (max-width: 1090px) {
  .container__portfolio {
    padding: 0 30px;
  }

  .header__portfolio {
    padding: 19px 30px;
  }

  .header__portfolio .header_burger.portfolio__burger {
    right: 30px;
  }
}

@media (max-width: 910px) {
  .header__portfolio .header_burger.portfolio__burger {
    display: block;
  }

  .header__portfolio nav {
    display: none;
  }

  .portfolio {
    grid-template-columns: 1fr 1fr;
  }

  footer.portfolio__footer {
    margin-top: 40px;
  }

  footer.portfolio__footer .footer__contacts-wrapper {
    flex-direction: column;
  }

  footer.portfolio__footer .footer__contact {
    width: 100%;
    margin-bottom: 29px;
  }
}

@media (max-width: 767px) {
  .container__portfolio {
    padding: 0 15px;
  }

  .header__portfolio {
    padding: 19px 15px;
  }

  .header__portfolio .header_burger.portfolio__burger {
    right: 15px;
  }

  .cases-nav {
    justify-content: flex-start;
  }

  .case-item .swiper-button-next,
  .case-item .swiper-button-prev {
    display: none;
  }

  .case-item__slider {
    display: none;
  }
}

@media (max-width: 570px) {
  .case__item,
  .case__item-all {
    font-size: 12px;
    margin: 0 12px 10px 0;
    padding: 10px 20px;
  }

  .portfolio__header {
    font-size: calc((36px) + (32 * 0.7) * ((100vw - 320px) / 570));
  }
}

@media (max-width: 555px) {
  footer.portfolio__footer .footer__copyrigth-top {
    font-size: 15px;
  }

  footer.portfolio__footer .footer__copyrigth-bottom {
    font-size: 11px;
  }
}

@media (max-width: 460px) {
  .case.case-portfolio {
    display: none;
    margin: 0;
    position: absolute;
    top: 48px;
    padding: 20px 10px;
    flex-wrap: nowrap;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  .case.case-portfolio .case__item-active:before {
    content: '';
    position: absolute;
    right: 10px;
    bottom: 16px;
    width: 20px;
    height: 10px;
    transform: rotate(-45deg);
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-top: none;
    border-right: none;
  }

  .case.case-portfolio .case__item-active {
    color: #000;
  }

  .case.case-portfolio .case__item,
  .case.case-portfolio .case__item-all {
    text-wrap: wrap;
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 10px 10px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 440px) {
  .portfolio {
    grid-template-columns: 1fr;
  }
}

@media (hover: hover) {
  .portfolio__item-label {
    display: flex;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 50%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6.67%, rgba(0, 0, 0, 0.3) 53.92%, #000000 100%);
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
  }

  .portfolio__item-label .add-label {
    color: #9EA3BA;
    font-size: 20px;
  }

  .portfolio__item:hover .portfolio__item-photo {
    transform: scale(1.05);
    transition: all 0.2s ease;
  }

  .portfolio__item:hover .portfolio__item-label {
    opacity: 1;
    transition: all 0.2s ease;
  }
}

@media (hover: none) {
  .return {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 39px;
    padding-bottom: 1px;
  }

  .return a {
    font-size: 18px;
    color: #9EA3BA;
  }

  .cases-nav {
    padding-top: 30px;
  }
}