.container__portfolio {
  max-width: 1200px;
}

h1 {
  font-size: 46px;
  font-weight: 300;
  line-height: 55px;
  color: #151515;
}

main {
  margin-top: 30px;
}

.price {
  margin-top: 30px;
}

.price .price__item {
  padding-bottom: 50px;
}

.price .price__operation {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #F0EFF6;
}

.price .price__operation:last-child {
  border-bottom: none;
}

.price .price__header {
  max-width: 100vw;
  position: sticky;
  top: 0px;
  padding: 10px 0;
  background: #fff;
  color: #17043b;
}

.price .price__header h2 {
  font-weight: 400;
}

.price .price__header.top-scroll {
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.14);
  transition: box-shadow ease-in 0.2s;
}

.price .price__operation-name {
  max-width: 70%;
}

.price h3.price__operation-name {
  font-weight: 400;
  line-height: 110%;
}

.price .price__operation-cost {
  border-radius: 5px;
  font-weight: 500;
  background-color: #230a5a;
  color: #fff;
  padding: 20px 15px;
  white-space: nowrap;
  margin-left: 30px;
}

.header__portfolio.scrolled {
  box-shadow: none;
}

@media (min-width: 767px) {
  .price .price__header h2 {
    font-size: calc(18px + 22 * (100vw / 1920));
  }

  .price h3.price__operation-name {
    font-size: calc(16px + 12 * (100vw / 1920));
  }

  .price .price__operation-cost {
    font-size: calc(14px + 11 * (100vw / 1920));
  }
}

@media (min-width: 1920px) {
  .price .price__header h2 {
    font-size: 40px;
  }

  .price h3.price__operation-name {
    font-size: 28px;
  }

  .price .price__operation-cost {
    font-size: 25px;
  }
}

@media (max-width: 910px) {
  .price .price__header {
    top: 43px;
  }
}

@media (max-width: 767px) {
  .price .price__header h2 {
    font-size: calc(18px + 37.4 * ((100vw - 320px) / 1920));
  }

  .price h3.price__operation-name {
    font-size: calc(16px + 20.4 * ((100vw - 320px) / 1920));
  }

  .price .price__operation-cost {
    font-size: calc(14px + 18.7 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 460px) {
  .price .price__header {
    padding: 10px 0;
  }

  .price .price__header h2 {
    line-height: 120%;
  }

  .price .price__operation-cost {
    padding: 15px 10px;
  }
}

@media (max-width: 320px) {
  .price .price__header h2 {
    font-size: 18px;
  }

  .price h3.price__operation-name {
    font-size: 16px;
  }

  .price .price__operation-cost {
    font-size: 14px;
  }
}